{% extends 'catalog/base.html' %}

{% block content %}

<div class="card mb-3" style="max-width: 100%;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-sm btn-outline-success">
                            {% if object %}
                                Сохранить изменения
                            {% else %}
                                Создать публикацию
                            {% endif %}
                        </button>
                        <div class="btn-group">
                            <a href="{% url 'blog:list' %}" class="btn btn-sm btn-outline-primary">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}