{% extends 'catalog/base.html' %}

{% load my_tags %}
{%block title%} title {%endblock%}

{%block content%}
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
<!--      <img src="/media/{{ object.image }}" class="img-fluid rounded-start" alt="...">-->
<!--      <img src="{{ object.image | media_path }}" class="img-fluid rounded-start" alt="...">-->
      <img src="{% media_tag object.image %}" class="img-fluid rounded-start" alt="Image">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ object.name | title }}</h2>
        <p class="card-text">{{ object.description }}</p>
        <p class="card-text"><small class="text-body-secondary">дата публикации: {{ object.time_create }}</small></p>
        <p class="card-text"><small class="text-body-secondary">владелец: {{ object.owner|default:"нет владельца" }}</small></p>
        <h4 class="my-0 font-weight-normal">Цена {{ object.price }} руб.</h4><br>
        <a href="#" class="btn btn-primary">купить</a>
      </div>
    </div>
  </div>
</div>
<div>
<footer class="text-muted">
    <div class="container">
        <div class="container">
            {% if object.owner == request.user or user.is_superuser or user.is_staff %}
            {% if perms.catalog.delete_product %}
            <a href="{% url 'catalog:product_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
            {% endif %}
            {% if perms.catalog.change_product %}
            <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-primary">Изменить товар</a>
            {% endif %}
            <a href="{% url 'catalog:index' %}" class="btn btn-primary">Назад к списку</a>

            {% for version in active_versions %}
            {% if version.product_id == object.pk %}
            <p style="font-weight: bold; color: red;">Активная версия:
                {{ version.version_number }} - {{ version.version_name }}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</footer>
</div>
{%endblock%}